@page

@{
    ViewBag.TitlePrefix = "Галерея — О нас";
    ViewBag.Description = "Галерея котокафе Meowy.";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/about/gallery.css" asp-append-version="true" />
}

@section Scripts
{
    <script defer type="module" src="/js/about/gallery.js" asp-append-version="true"></script>
}

<h1>Галерея</h1>
<p>Здесь вы можете посмотреть на наших пушистых обитателей.</p>
<div class="glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            <li class="glide__slide">
                <img alt="Изображение галереи 1" src="/img/about/gallery/1.webp" />
                <div>
                    <h2>Ленивчик</h2>
                    <p>Еще 5 минут поспать...</p>
                </div>
            </li>
            <li class="glide__slide">
                <img alt="Изображение галереи 2" src="/img/about/gallery/2.webp" />
                <div>
                    <h2>Пушистик</h2>
                    <p>Люблю, когда меня гладят!</p>
                </div>
            </li>
            <li class="glide__slide">
                <img alt="Изображение галереи 3" src="/img/about/gallery/3.webp" />
                <div>
                    <h2>Мурчик</h2>
                    <p>Я спать, не беспокоить!</p>
                </div>
            </li>
            <li class="glide__slide">
                <img alt="Изображение галереи 4" src="/img/about/gallery/4.webp" />
                <div>
                    <h2>Царапка</h2>
                    <p>Все какие-то неправильные, буду царапать!</p>
                </div>
            </li>
            <li class="glide__slide">
                <img alt="Изображение галереи 5" src="/img/about/gallery/5.webp" />
                <div>
                    <h2>Нюша</h2>
                    <p>Давайте поиграем!</p>
                </div>
            </li>
            <li class="glide__slide">
                <img alt="Изображение галереи 6" src="/img/about/gallery/6.webp" />
                <div>
                    <h2>Яша</h2>
                    <p>Я великий охотник, меня боятся мышки!</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button type="button" class="glide__arrow glide__arrow--left" data-glide-dir="<">&lt;</button>
        <button type="button" class="glide__arrow glide__arrow--right" data-glide-dir=">">&gt;</button>
    </div>
</div>