@page

@{
    ViewBag.TitlePrefix = "О нас";
    ViewBag.Description = "Информация о котокафе Meowy.";
}

<h1>О нас</h1>
<p>Котокафе Meowy - это уютное пространство, где вы можете отдохнуть в компании пушистых четвероногих друзей. Наша цель - дать людям возможность общения с котами и наслаждения их удивительным очарованием и непосредственностью.</p>
<p>Мы гордимся нашими милыми и социально адаптированными котами. Они прошли проверку на отсутствие инфекционных заболеваний, а также микрочипированы и имеют все необходимые документы в соответствии с законодательством. Каждый наш кот имеет свой эксклюзивный дизайн и характер, и вы сможете выбрать партнера для общения и игр на свой вкус!</p>
<p>В Meowy вы найдете удобные зоны отдыха, игровые уголки для котов и лакомства, которыми вы сможете собственноручно побаловать наших питомцев. Мы приглашаем вас в мир уюта и тепла в компании самых очаровательных котов! Добро пожаловать в Meowy!</p>
<p>Если вы заинтерисовались нашими пушистыми друзьями, то можете посмотреть на них в <a class="link-button" asp-page="/About/Gallery" title="Галерея">галерее</a>!</p>
<h2 id="location">Местоположение и время работы</h2>
<p>Смотрите <a class="link-button" asp-page="/Visit/Index" asp-fragment="working-hours" title="Местоположение и время работы">здесь</a>.</p>
<h2 id="contact">Контакты</h2>
<p>Электронная почта: <a class="link-button" href="mailto:contact@uni.arasfon.ru" title="contact@uni.arasfon.ru">contact@uni.arasfon.ru</a></p>
<p>Номер телефона: <a class="link-button" href="tel:+79270089550" title="+79270089550">+79270089550</a></p>
<p>ВКонтакте: <a class="link-button" href="https://vk.com/" title="ВКонтакте">@@meowy_catcafe</a></p>
<p>Telegram: <a class="link-button" href="https://telegram.org" title="Telegram">@@meowy_catcafe</a></p>
<p>YouTube: <a class="link-button" href="https://youtube.com" title="YouTube">@@meowy_catcafe</a></p>
<p>TikTok: <a class="link-button" href="https://tiktok.com" title="TikTok">@@meowy_catcafe</a></p>