@page

@{
    ViewBag.TitlePrefix = "Спасибо за бронирование — Посещение";
    ViewBag.Description = "Спасибо за бронирование!";
}

<h1>Спасибо за бронирование!</h1>
<p>Мы с вами свяжемся в ближайшее время.</p>