@import '../content-page';
@import '../glidejs';

.glide {
    padding: 1rem 0;
}

.glide__arrow {
    @media (max-width: 60rem) {
        top: initial;
        bottom: 5%;
    }
}

.glide__slides {
    height: 40rem;

    .glide__slide {
        height: 40rem;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}