@import 'content-page';

table {
    border-collapse: collapse;
    border: 0.1rem solid @foreground;
    width: 100%;
}

th, td {
    padding: 0.75rem;
    border: 0.1rem solid @foreground;
}

td:nth-child(2) {
    text-align: center;
}