@page "/error/{code:int}"
@model ErrorModel

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ошибка – Meowy</title>
    <link rel="stylesheet" href="/css/error.css"/>
</head>
<body>
    <h1 class="text-danger">@Model.Code</h1>
    <h2>@Model.ReasonPhrase</h2>
</body>
</html>