@page "{code:int}"
@model ErrorModel

@{
    ViewBag.TitlePrefix = $"{Model.Code}";
    ViewBag.Description = $"Ошибка {Model.Code}.";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/error.css" asp-append-version="true"/>
}

<h1 class="text-danger">@Model.Code</h1>
<h2>@Model.ReasonPhrase</h2>