@page

@{
    ViewBag.TitlePrefix = "Мероприятия";
    ViewBag.Description = "Информация о мероприятиях в котокафе Meowy.";
}

<h1>Мероприятия</h1>
<p>У нас часто проходят очень крутые мероприятия. Не пропустите!</p>
<h2 id="recurring">Повторяющиеся мероприятия</h2>
<ul>
    <li><p><strong>Ночь кино</strong>: каждое второе воскресенье месяца, время работы продлевается до 23:00.</p></li>
    <li><p><strong>День усыновления котиков</strong>: каждая третья суббота месяца.</p></li>
    <li><p>Скоро появится ещё!</p></li>
</ul>
<h2>Собственное мероприятие</h2>
<p>Для этого <a class="link-button" asp-page="/About/Index" asp-fragment="contact" title="Контакты">свяжитесь</a> с нами.</p>