@page
@model ExceptionModel

@{
    ViewBag.TitlePrefix = "Ошибка";
    ViewBag.Description = "Ошибка.";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/exception.css" asp-append-version="true" />
}

<h1 class="text-danger">Ошибка.</h1>
<h2>При обработке вашего запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p class="text-secondary">
        Request ID: <code>@Model.RequestId</code>
    </p>
}