@page "/in-development"
@model InDevelopmentModel

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@HttpContext.Request.Path – В разработке – Meowy</title>
    <link rel="stylesheet" href="/css/in_development.css"/>
</head>
<body>
<h1>В разработке 🚧</h1>
<h2 class="text-secondary">Попробуйте позже.</h2>
</body>
</html>